@import '../../styles/index';

.successful {
  @include position-abs;
  @include size(100%);

  z-index: $backdrop-index;
  overflow: hidden;
  padding: 2rem;
  padding-top: 20vh;

  > .wrapper {
    @include flex($dir: column, $align: center);
    width: 50rem;

    @include media(767px) {
      width: auto;
      align-items: stretch;
    }

    > h1 {
      align-self: center;
      margin-bottom: 1rem;
      font-size: 4rem;

      @include media(410px) {
        font-size: 3rem;
      }
    }

    > h2 {
      margin-top: 2rem;
    }

    span {
      color: $white;
      font-weight: 400;
      font-size: 1.25rem;
    }

    .button {
      margin-top: 3rem;
      margin-right: 0;
    }
  }
}
