@import '../../styles/index';

.successful {
  @include position-abs;
  @include size(100%);

  z-index: $backdrop-index;
  overflow: hidden;
  padding: 2rem;
  padding-top: 20vh;

  > .wrapper {
    @include flex($dir: column);
    width: 24rem;

    @include media(520px) {
      align-items: flex-start;
    }

    > h1 {
      align-self: center;
      margin-bottom: 2rem;
      font-size: 4rem;

      @include media(520px) {
        font-size: 2.5rem;
      }
    }

    > h2 {
      margin-bottom: 0.4rem;
    }

    span {
      color: $white;
      font-weight: 400;
    }

    .button {
      margin-top: 3rem;
    }
  }
}
