@import '../../styles/index';

.seats-container {
  @include flex($dir: column, $align: center);

  @include media(520px) {
    padding-left: 11rem;
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray;
  }

  .scene {
    width: 90%;
    margin: 4rem 0;
    color: lighten($secondary-color, 20);
    text-align: center;

    @include media(520px) {
      width: 100vw;
    }

    &::after {
      display: block;
      border: 0.3rem solid;
      content: '';
    }

    + button {
      margin-left: auto;
    }
  }
}
