@import '../../styles/index';

.seats-container {
  @include flex($dir: column, $align: center);
  margin-bottom: 2rem;

  @include media(767px) {
    align-self: normal;
    padding-left: 20rem;
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray;
  }

  .scene {
    width: 90%;
    margin: 4rem 0;
    color: lighten($secondary-color, 20);
    text-align: center;

    @include media(520px) {
      width: 100vw;
    }

    &::after {
      display: block;
      border: 0.3rem solid;
      content: '';
    }
  }
}

.choose-seat {
  @include flex(column, center, center);

  > .button {
    margin-left: auto;

    @include media(767px) {
      align-self: stretch;
      margin: 0;
    }
  }
}
