$primary-color: #263238;
$secondary-color: #00e676;

$dark-text-color: #264348;

$white: #f5f5f5;
$gray: #bfbfbf;

$spinner-size: 2.2rem;
$header-height: 10vh;

$arrow-btn-index: 2;
$backdrop-index: -1;
