@import '../../styles/index';

.ticket {
  @include flex($align: center);
  padding: 1rem;
  border: 1px solid $secondary-color;
  margin-bottom: 2rem;

  svg {
    margin-right: 1.2rem;
    color: $white;

    @include media(380px) {
      display: none;
    }
  }

  > h4 {
    flex: 2;
    text-align: left;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .price {
    padding: 0.5rem 2rem;
    border-right: 1px solid $primary-color;
    margin-right: 2rem;

    @include media(444px) {
      padding: 0.1rem 0.5rem;
      margin-right: 1rem;
    }
  }

  .counter {
    @include flex($align: center);

    > .button {
      @include size(2rem, 2rem);
      padding: 0;
      margin: 0;
      font-size: 1.3rem;
      font-weight: 700;
    }

    > p {
      width: 2rem;
      margin: 0 0.5rem;
      text-align: center;

      @include media(470px) {
        width: 1rem;
      }
    }
  }
}
