@import '../../styles/index';

.movie-card {
  text-align: center;

  .poster {
    width: 100%;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.02);
    }
  }

  .title {
    @include gradient-text();
    display: inline-block;
    font-weight: 400;
  }
}
