@import '../../styles/index';

.movie-card {
  width: 15vw;
  padding: 1rem;
  text-align: center;
  @include media(1440px) {
    width: 30vw;
  }
  @include media(768px) {
    width: 35vw;
  }
  @include media(580px) {
    width: 45vw;
  }
  @include media(410px) {
    width: 70vw;
  }

  .poster {
    width: 100%;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.02);
    }
  }

  .title {
    display: inline-block;
    color: $secondary-color;
    font-weight: 400;
  }
}
