@import '../../styles/index';
@import url('https://fonts.googleapis.com/css?family=Salsa&display=swap');

.header {
  @include flex($align: center);
  height: $header-height;
  background-color: $primary-color;
  color: $secondary-color;

  .content {
    @include flex(row, space-between, center);

    .website-name {
      font-family: Salsa, cursive;
    }

    svg {
      cursor: pointer;
    }
  }
}
