@import '../../styles/index';

$carousel-height: 100vh - $header-height;

.carousel {
  @include flex;
  @include size(100vw, $carousel-height);

  svg {
    @include position-abs(47%);
    z-index: $arrow-btn-index;
    right: 2rem;
    color: $secondary-color;
    cursor: pointer;
    transform: translateY(-50%);
    user-select: none;

    @include media(412px) {
      right: 1rem;
    }
  }

  .arrowLeft {
    left: 2rem;
    @include media(412px) {
      left: 1rem;
    }
  }

  &-inner {
    @include flex($align: center);
    overflow: hidden;
  }

  .slider {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.25s ease-out;

    > div {
      flex: 0 0 auto;
    }
  }
}
