@import '../../styles/index';

.in-theaters {
  margin: 3rem 0.8rem;

  .movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 0.5fr));
    gap: 1.5rem;

    @include media(520px) {
      grid-template-columns: 46% 46%;
      justify-content: space-between;
    }
  }

  > .title {
    margin: 1rem 0;
    color: $title-color;
  }
}
