@import '../../styles/index';

.section-title {
  margin-bottom: 2rem;
  text-align: left;
}

.choose-ticket-bottom {
  text-align: right;

  .button {
    margin-top: 1rem;
    margin-right: 0;
  }
}
